<h2><%= @portfolio.name %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ticker</th><th>Value</th><th>Cost Basis</th><th>Shares</th>
      <th>Transact</th>
    </tr>
  </thead>
  <tbody>
  <% @holdings.each do |holding| %>
    <tr>
      <td><%= holding.ticker %></td>
      <td><%= number_to_currency holding.total_value %></td>
      <td><%= number_to_currency holding.total_cost %></td>
      <td><%= holding.total_shares %></td>
      <td><%= link_to "Add", new_portfolio_holding_transaction_path(@portfolio, holding) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Add holding", new_portfolio_holding_path(@portfolio), :class => "btn" %> <%= link_to "Update prices", portfolio_update_prices_path(@portfolio), :class => "btn btn-link" %> <i>Last updated: <%= @portfolio.price_updated %></p>
